.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-top: 40px;

    .inputContent {
        position: relative;

        .input {
            width: 300px;
            height: 43px;

            border-radius: 20px;

            padding-left: 50px;

            font-family: var(--font);
            font-size: 12px;

        }

        .input::placeholder{
            font-family: var(--font);
            font-size: 13px;

            opacity: 0.7;
        }

        .iconInput {
            position: absolute;
            top: 10px;
            left: 15px;

            width: 17px;
        }
    }

}