.TopAutomatGames{
    width: 360px;
    height: 236px;

    background-color: #25283A;

    border-radius: 40px;

    .img{
        width: 100%;
    }

    .all_texts {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .text {
            display: flex;
            align-items: center;
            gap: 5px;

            font-family: var(--font);
            font-size: 13px;
            font-weight: 400;

            color: var(--white);
            padding: 10px;

        }
    }

    
}