.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  padding-top: 30px;

    @media (max-width: 770px) {
      flex-direction: column;
    }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 150px;
    height: auto;

    border-radius: 20px;

    background-color: #111321;

    .grade {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3px;

      font-size: 10px;
      font-family: var(--font);
      color: var(--white);

      padding: 5px;

      .star {
        width: 15px;
        height: 15px;
      }
    }

    .casinoImage {
      width: 150px;
      height: 110px;

      border-radius: 20px;
    }

    .text {
      font-size: 15px;
      font-family: var(--font);

      color: var(--white);

      text-align: center;

      padding: 5px;

      cursor: pointer;
    }
  }
}
