.ModalChangePassword {
  display: none;
}

.modalShow {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  width: 500px;
  height: 550px;

  border-radius: 25px;

  background: #111321;

  padding: 40px;

  .title {
    font-family: var(--font);
    font-weight: 300;
    font-size: 30px;

    color: var(--white);
  }

  .text {
    font-family: var(--font);
    font-weight: 400;
    font-size: 18px;

    color: var(--color);

    width: 350px;

    text-align: center;
  }

  .imgInput {
    position: relative;

    .icon {
      position: absolute;
      top: 12px;
      left: 15px;

      width: 17px;

      z-index: 1;
    }

    .input {
      width: 300px;
      height: 45px;

      z-index: 0.5;

      border-radius: 25px;

      background: #f7f7f7;

      padding-left: 40px;

      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

      font-family: var(--font);
      font-size: 14px;
    }
  }

  .button {
    width: 250px;
    height: 45px;

    border-radius: 30px;

    background-color: var(--color);

    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;

    color: var(--white);

    border: none;

    cursor: pointer;
  }
}
