.ModalReview {
    justify-content: space-between;

    width: 1100px;
    height: auto;

    background-color: #111321;
    // background-color: #ccc;

    border-radius: 25px;

    padding: 30px 40px;



    // .all_reviews {
    //     padding-top: 25px;

    //     height: 500px;

    //     overflow-y: scroll;
    // }

    // .all_reviews::-webkit-scrollbar {
    //     background-color: #7A7A7A;

    //     width: 10px;

    //     border-radius: 20px;
    // }

    // .all_reviews::-webkit-scrollbar-thumb {
    //     background-color: #313131;

    //     border-radius: 20px;

    //     height: 10px;
    // }

    .input_button {
        padding-top: 40px;

        .addInput {
            position: relative;

            width: 80%;
            height: 102px;

            background-color: #373A51;

            border: none;
            border-radius: 15px;

            font-family: var(--font);
            font-size: 15px;
            font-weight: 400;

            color: var(--white);

            padding: 0 0 50px 20px;

        }

        .addInput:focus {
            outline: none;
        }

        .addInput::placeholder {
            color: var(--white);
        }

        .add_button {
            position: absolute;
            left: 65%;
            bottom: 60px;

            width: 100px;
            height: 40px;

            border-radius: 10px;
            background: #25283A;

            box-shadow: 5px 5px 4px 0px #000;

            font-family: var(--font);
            font-weight: 400;
            font-size: 13px;

            color: var(--white);
        }

    }


}

.modalShow {
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-between;

    .sort_buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .sort {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            font-family: var(--font);
            font-size: 14px;
            font-weight: 400;

            color: var(--white);
        }

        .button {
            background: none;

            width: 70px;
            height: 30px;

            border-radius: 16px;

            border: 2px solid #584B89;

            font-family: var(--font);
            font-size: 12px;
            font-weight: 400;

            color: var(--white);

            cursor: pointer;

            text-align: center;
        }
    }
}

