.loginModalnone {
    display: none;
    position: fixed;
    top: 17%;
    left: 32%;

    width: 490px;
    height: 600px;

    background-color: #111321;

    border-radius: 30px;
}

.loginModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    padding-top: 10%;
}