.GamesAutomats {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 70px;

  @media (max-width: 768px) {
    padding-top: 50px;
  }

  .img {
    width: 430px;
    height: 470px;

    object-fit: contain;

    @media (max-width: 768px) {
      width: 300px;
    }

    @media (max-width: 768px) {
      width: 200px;
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
      font-family: var(--font);
      font-size: 40px;
      font-weight: 500;

      color: var(--white);

      span {
        color: #ffc107;
      }
    }

    .text {
      font-family: var(--font);
      font-size: 15px;
      font-weight: 400;

      color: var(--white);
    }

    .button {
      width: 220px;
      height: 45px;

      background-color: var(--color);

      border-radius: 15px;

      box-shadow: 5px 5px 4px 0px #000;

      .link {
        font-family: var(--font);
        font-size: 15px;
        font-weight: 400;

        color: var(--white);
      }

      margin-left: 35px;

      @media (max-width: 768px) {
        width: 185px;
        margin-left: 0;
      }
    }
  }
}

.lineText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 50px 0 50px 0;

  .line {
    width: 420px;
    height: 2px;
    background-color: var(--color);

    @media (max-width: 1024px) {
      width: 300px;
    }
    @media (max-width: 768px) {
      width: 185px;
    }
  }

  .text {
    font-family: var(--font);
    font-size: 25px;
    font-weight: 400;

    color: var(--white);

    @media (max-width: 1024px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 15px;
    }
  }
}
