.searchButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .button {
        padding: 12px 24px 12px 24px ;

        background: none;

        color: var(--white);

        font-family: var(--font);
        font-size: 14px;
        font-weight: 400;

        border-radius: 15px;
        border: 3px solid var(--color);

        cursor: pointer;
    }
}