.footer {
  display: flex;
  justify-content: space-between;
  // align-items: center;

  text-align: center;

  padding: 20px;

  margin-top: auto;
  
  .logo {
    font-family: var(--font);
    font-size: 25px;
    font-weight: 500;

    color: var(--white);

    @media (max-width: 768px) {
      padding-right: 20px;
    }
  }

  .text {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;

    color: var(--white);

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }

  .icon {
    color: var(--white);
    width: 30px;
    height: 30px;

    margin-left: 10px;
  }
}
