.all_payCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  @media (max-width: 427px) {
    gap: 5px;
  }

  .card {
    width: 40px;
    height: 25px;

    border-radius: 5.621px;

    background: rgba(88, 75, 137, 0.69);

    padding: 3px 2px;

    @media (max-width: 427px) {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 30px;
      height: 15px;

      padding: 0 1px;
    }

    .img {
      width: 33px;

      @media (max-width: 427px) {
        width: 15px;
      }
    }
  }

  .number {
    font-family: var(--font);
    font-weight: 400;
    font-size: 15px;

    color: var(--white);

    cursor: pointer;

    @media (max-width: 427px) {
      font-size: 8px;
    }

    @media (max-width: 380px) {
      font-size: 5px;
    }
  }
}
