@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

:root {
  --font: 'Montserrat', sans-serif;
  --color: #584b89;
  --white: #fff;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #494966;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./assets/background_casino.png);
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #584b89 !important;
}

header {

  width: 100%;
  height: 90px;

  background: rgba(17, 19, 33, 0.6);


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
  }

  .navbar_button {
    background: none;

    border: none;

    font-family: var(--font);
    font-size: 15px;

    color: var(--white);

    padding-left: 40px;

    cursor: pointer;
  }

  .logo {
    font-family: var(--font);
    font-size: 25px;
    font-weight: 500;

    color: var(--white);
  }

  .inputIcon {
    position: relative;

    width: 420px;
    height: 40px;
  }

  .searchbar {
    width: 100%;
    height: 100%;

    background-color: #494966;

    border-radius: 60px;
    border: none;

    color: var(--white);

    padding-left: 20px;
  }

  .searchbar:focus {
    outline: none;
  }

  .searchbar::placeholder {
    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;

    color: #868686;

    padding-left: 10px;
  }

  a {
    font-family: var(--font);
    font-size: 16px;

    color: var(--white);

    text-decoration: none;

    padding-left: 60px;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 9px;

    width: 26px;
    height: 27px;

    cursor: pointer;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding-top: 50px;
}

.title {
  font-family: var(--font);
  font-size: 30px;
  font-weight: 400;

  color: var(--white);

  text-align: center;

  padding: 20px 0 25px 0;
}

.cardsAutomats {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.619);
}

.languageButton {
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;

  color: var(--white);

  border: none;

  background: none;

  cursor: pointer;
}

.icon {
  color: var(--white);

  cursor: pointer;

  margin-bottom: 20px;
}

.avatarImages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  width: 260px;
}

.avatar {
  cursor: pointer;
}


.popup{
  position: fixed;
  top: 40px;

  transition: 0.4s all linear;  
}


.button {
  padding: 12px 24px 12px 24px ;

  background: none;

  color: var(--white);

  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;

  border-radius: 15px;
  border: 3px solid var(--color);

  cursor: pointer;
}

.active{
  background:  var(--color);
}